.container {
    margin-left: 20%;
    margin-right: 20%;
}

.intro {
    text-align: center;
}

.card-body {
    border: 2px solid black;
    border-radius: 10px;
    padding: .7em;
}

.card {
    padding: .5em;
}

.btn {
    color: #990b0f;
}

.page-link {
    color: #990b0f;
}

.btn:visited {
    color: #F45D62;
}

.pagination {
    margin-left: 20%;
    margin-right: 20%;
}