.container {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}

.card-body {
    border: 2px solid black;
    border-radius: 10px;
    padding: .7em;

}

.card-title {
    font-size: 1.75em;
    font-weight: bold;
}