body {
    font-family: "Lato", sans-serif;
    background-color: #e3e3e3;
    margin: 20px;
    font-size: 18px;
}

.title {
    color: #1C1C1C;
    position: relative;
    float: right;
    font-size: 25px;
    margin-top: .25em;
    font-weight: bold;
}

.main p {
    color: #131313;
    margin-left: 10%;
    margin-top: 3%;
    text-align: left;
}

.images {
    float: right;
    margin-top: 5%;
    padding-left: 5%;
    align-items: center;
}

table, th, td {
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    width: 40%
}

.skills {
    padding-top: 10%;
}

a:link {
    text-decoration: none;

}

a:hover {
    text-decoration: underline;
}