<!DOCTYPE html>
<html>

    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title class="page-title" idle="page-title">Christopher Fore</title>
        <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
        <link rel="stylesheet" href="{% static 'styles/sidenav.css' %}">
        <link rel="shortcut icon" href="{% static 'images/sitelogo.png' %}">
        <script src="{% static 'scripts/script.js' %}" type = "text/javascript"/></script>
    </head>
    <body>
        <span style="font-size:30px;cursor:pointer" onclick="openNav()" class="hamburger"></span>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'blog' %}">Blog</a>
            <a href="{% url 'projects' %}">Projects</a>
            <a href="{% url 'qualifications' %}">Qualifications</a>
            <a href="{% url 'info' %}">Info</a>
        </div>
        {% block content %}
        {% endblock content %}
    </body>
</html>