{% extends "base.html" %}
{% load static %}
{% block content %}
<p class="title">Blog</p>
<link rel="stylesheet" href="{% static 'styles/blogstyle.css' %}">
<div class="container">
  <div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8 mt-3 left">
        <p class="intro">Welcome to the blog portion of my site, where I hope to write about neat things in the tech industry and anything else I hope people will find interesting. Comments are in the works for right now, but I hope to get them up and running soon!</p>
      {% for post in post_list %}
      <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text text-muted h6">Christopher Fore | {{ post.created_on}}  </p>
            <hr size="1" width="85%" color="black">
            <p class="card-text">{{post.content|safe|slice:":200" }}</p>
            <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
        </div>

      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% if is_paginated %}
    <nav aria-label="Page navigation conatiner"></nav>
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
      {% endif %}
      {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

{% endif %}
</ul>
</nav>
</div>
{% endif %}
{%endblock%}