{% extends "base.html" %}
{% block content %}
{% load static %}
<!-- Use any element to open the sidenav -->
<p class="title">Home</p>
<div class="images" id="images">
    <img src="{% static 'images/tux.png' %}">
</div>

<div id="main" class="main">
    <p>
        Hi! This is my personal site. I'm Christopher Fore, a graduate of Highland School of Technology, and an
        entering underclassman at Rochester Institute of Technology (RIT) in Fall 2022. I have a passion for computers
        and programming, with knowledge in: Python, C++, HTML/CSS, Flutter, Kotlin, and JavaScript. I am not
        an expert by any means in any of these languages, but I am more proficient in Python and C++. At RIT,
        I hope to major in Computing Security, with hopes of entering the Information Security Analyst field,
        but I also have interests in the System Administrator and Network Engineer fields.
    </p>
    <div class="skills">
        <table>
            <tr>
                <th>Ability</th>
                <th>Skill Level</th>
            </tr>
            <tr>
                <td>C++</td>
                <td>Mid-Beginner</td>
            </tr>
            <tr>
                <td>Python</td>
                <td>Upper-Beginner</td>
            </tr>
            <tr>
                <td>JavaScript</td>
                <td>Early Beginner</td>
            </tr>
            <tr>
                <td>Bash</td>
                <td>Early Beginner</td>
            </tr>
            <tr>
                <td>HTML/CSS</td>
                <td>Intermediate</td>
            </tr>
            <tr>
                <td>Git</td>
                <td>Mid-Beginner</td>
            </tr>
            <tr>
                <td>Flutter</td>
                <td>Mid-Beginner</td>
            </tr>
        </table>
    </div>
</div>
{%endblock%}