{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/postdetailstyle.css' %}">
<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <p class="card-title">{{ post.title }}</p>
        <p class=" text-muted">Christopher Fore | {{ post.created_on }}</p>
        <hr size="2" width="85%" color="black">
        <p class="card-text ">{{ post.content | safe }}</p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}