{% extends "base.html" %}
{% block content %}
{% load static %}
<!-- Use any element to open the sidenav -->
<p class="title">Projects</p>
<div id="main" class="main">
    <p>
        Here are my projects! You'll find a list of them below.
    </p>
</div>
{% endblock content %}