{% extends "base.html" %}
{% block content %}
{% load static %}
<!-- Use any element to open the sidenav -->
<p class="title">Qualifications</p>
<div id="main" class="main">
    <p>
        Currently, I am a certified Microsoft Office Specialist Master and Microsoft Technology Associate in Introduction
        to Programming using Python. The following certificates are as shown below.
    </p>
    <img src="{% static 'images/MOSMaster.png' %}" width="550" height="425" style="margin-left: 10%; padding-top: 1.5%">
    <img src="{% static 'images/pythonCert.png' %}" width="550" height="425" style="margin-left: 10%; padding-top: 1.5%">
    <p>
        I also have 3 years of experience in computer repair, including repairing some personal computers I've acquired
        over the years. I have about 6 months of experience in Python, but I've learned a lot since I began. I have about
        7 months of experience in C++, but I haven't practiced C++ as much as I have regarding Python.
    </p>
</div>
{% endblock content %}